<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<head th:fragment="static">
	<link rel="stylesheet" th:href="@{/bootstrap-4.3.1/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/bootstrap-4.3.1/css/bootstrap.min2.css}"/>
	<link rel="stylesheet" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}"/>
 	<link rel="stylesheet" th:href="@{/iziModal/css/iziModal.min.css}"/>
 	<link rel="stylesheet" th:href="@{/application/css/main.css}"/>
 	<script type="text/javascript" th:src="@{/application/script/rainbow-custom.min.js}"></script>
 
 	<title></title>
 	 
</head >
<body>
 
 <span th:fragment="script">
 
 	 <script type="text/javascript" th:src="@{jquery/jquery-3.3.1.min.js}"></script>
 	 <script type="text/javascript" th:src="@{bootstrap-4.3.1/js/bootstrap.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/iziModal/js/iziModal.min.js}"></script>
 	 <script type="text/javascript" th:src="@{/application/script/main.js}"></script>
 	
 </span>
</body>
</html>